
body {
    background-image: url('https://lh3.googleusercontent.com/ikKeG9HuyjSOdZON5LstPs3lH--m3VK3kknOIK3xpCA7miSRaATqjD3o7bypnTb9KCjO6ogWvdQ=w640-h400-e365'); background-size:cover;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

